###
# For production values look for the "ESPEN Kamal Secrets" entry in the OCS 1Password vault
###

# This file should contain all the secrets required by *production* application.
# This file is ignored by git by default to avoid accidentally exposing secrets in your repository.
# The content of this file should be similar to that of the `.env` file in the project root
# which is used for local development.

# Note: when you add variables to this file you will also need to update the `env: secret` section
# of your `config/deploy.yml` file to make them available in your production deployment.

###
### Kamal settings
###
# Kamal config expects the service to be running on this port
PORT=8000

# Docker postgres password
POSTGRES_PASSWORD=

DATABASE_URL=postgres://user:password@localhost:5432/dbname
API_KEY=secret api key

# Used for fallback LLM-based transpiling of SQL
OPENAI_API_KEY=